# [BACKEND]
# Copie este valor para o appsettings.Development.json no futuro
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=compass_db;Username=compass_dev;Password=compass_password

# [FRONTEND]
# Copie para um arquivo .env.local na pasta frontend
VITE_API_URL=http://localhost:5000/api
